repos:
  - repo: local
    hooks:
      - id: dune-build
        name: dune build
        entry: nix develop -c dune build
        language: system
        pass_filenames: false
        files: \.(ml|mli|mll|mly)$

      - id: dune-test
        name: dune test
        entry: nix develop -c dune test
        language: system
        pass_filenames: false
        files: \.(ml|mli|mll|mly)$

      - id: dune-fmt
        name: dune fmt
        entry: nix develop -c scripts/dune-fmt-hook.sh
        language: system
        pass_filenames: false
        files: \.(ml|mli)$

      - id: elisp-byte-compile
        name: elisp byte compile
        entry: >-
          rm lisp/**/*.elc &&
          nix develop -c emacs -Q --batch
          -L lisp/
          --eval "(setq byte-compile-error-on-warn t)"
          -f batch-byte-compile
        language: system
        pass_filenames: true
        files: ^lisp/.*\.el$
