repos:
  - repo: local
    hooks:
      - id: elisp-byte-compile
        name: elisp byte compile
        entry: >-
          rm *.elc &&
          nix develop -c emacs -Q --batch
          --eval "(setq byte-compile-error-on-warn t)"
          -f batch-byte-compile
        language: system
        pass_filenames: true
        files: .*\.el$
